name: Update Custom Pins

on:
  schedule:
    - cron: '0 0 * * *' # Every midnight
  workflow_dispatch:

jobs:
  build-and-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Important: allows the action to push changes
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Install Dependencies
        run: pip install requests

      - name: Generate Pins
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python .github/scripts/generate_pins.py

      - name: Commit changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add pins/ README.md
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update repo pins" && git push)
